@model Paginacao<Item>

@{
    ViewData["Title"] = "Itens";
}

@if (Model is not null)
{
    <div class="container mt-4">
        <div class="row">
            <div class="col">

                <h4>Itens</h4>

                @if (TempData["Sucesso"] is not null)
                {
                    <div class="alert alert-success mt-4" role="alert">@TempData["Sucesso"]</div>
                }

                <div class="row mt-4 justify-content-center">

                    <div class="row">
                        <div class="col-md-6 col-lg-3 mb-2">
                            <form>
                                <div class="input-group">
                                    <input class="form-control pesquisa" type="search" placeholder="Pesquisar">
                                    <button class="btn btn-outline-success btn-pesquisar"><i class="fa-solid fa-magnifying-glass"></i></button>
                                </div>
                            </form>
                        </div>


                        <div class="col-md-6 col-lg-3 mb-2">
                            <form>
                                <div class="input-group">
                                    <input class="form-control pesquisaNome" type="search" placeholder="Pesquisar por nome">
                                    <button class="btn btn-outline-info btn-pesquisar"><i class="fa-solid fa-magnifying-glass"></i></button>
                                </div>
                            </form>
                        </div>

                        <div class="col-md-6 col-lg-3 mb-2">
                            <input class="form-control qtdPorPagina" placeholder="Quantidade por página">
                        </div>

                        <div class="col-md-6 col-lg-3 mb-2">
                            <select class="form-select ordem">
                                <option value="" selected disabled>Ordenar por</option>
                                <option value="0">Id</option>
                                <option value="1">Nome</option>
                                <option value="2">Preco</option>
                            </select>
                        </div>
                    </div>

                    <div class="row justify-content-center">
                        <div class="col-md-2 mb-2 mt-lg-4">
                            <div class="form-check form-switch">
                                <input class="form-check-input desativado" type="checkbox" id="desativado">
                                <label class="form-check-label" for="desativado">Desativado</label>
                            </div>
                        </div>
                        <div class="col-md-2 mb-2 mt-lg-4">
                            <div class="form-check form-switch">
                                <input class="form-check-input desc" type="checkbox" id="desc">
                                <label class="form-check-label" for="desc">Inverter</label>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="paginacao">
                    @{
                        await Html.RenderPartialAsync("_ItemPaginacaoPartial", Model);
                    }
                </div>

            </div>
        </div>
    </div>

    @section Scripts
    {
    <script src="~/js/item/index.js"></script>
    }

}
