@inject Sessao sessao

@model Configuracao

@{
    ViewData["Title"] = "Configuração";
    var usuario = sessao.ObterUsuario();
}

@if (usuario is not null && usuario.Configuracao)
{
    <div class="container mt-3">
        <div class="row justify-content-center">
            <div class="col-sm-9 col-md-7 col-lg-5 col-xl-4">

                <h4 class="mb-4">Configuração</h4>

                @if (TempData["Sucesso"] is not null)
                {
                    <div class="alert alert-success mt-4" role="alert">@TempData["Sucesso"]</div>
                }

                @if (ViewBag.Mensagem is not null)
                {
                    <div class="alert alert-danger">
                        @ViewBag.Mensagem
                    </div>
                }

                <form method="post">

                    <div class="mb-3">
                        <label class="form-label" asp-for="NomeLocais"></label>
                        <input class="form-control" asp-for="NomeLocais" />
                        <span asp-validation-for="NomeLocais" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" asp-for="QuantidadeLocais"></label>
                        <input class="form-control" asp-for="QuantidadeLocais">
                        <span asp-validation-for="QuantidadeLocais" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" asp-for="ReservasPorLocal"></label>
                        <input class="form-control" asp-for="ReservasPorLocal">
                        <span asp-validation-for="ReservasPorLocal" class="text-danger"></span>
                    </div>

                    <button class="btn btn-primary mb-2" asp-area="" asp-controller="Configuracao" asp-action="Index">
                        <i class="fa-solid fa-floppy-disk"></i> Salvar
                    </button>

                    <a class="btn btn-secondary mb-2" asp-area="" asp-controller="Home" asp-action="Index">
                        <i class="fa-solid fa-calendar-days"></i> Voltar
                    </a>

                </form>

            </div>
        </div>
    </div>

    @section Scripts
    {
    <partial name="_ValidationScriptsPartial" />
    }
}
